{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "GetProfilesUrl": "http://localhost:6062/api/GetParticipantScreeningProfileData"
  },
  "Host": {
    "LocalHttpPort": 6063
  }
}
