{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "GetEpisodeUrl": "http://localhost:6070/api/GetEpisode"
  },
  "Host": {
    "LocalHttpPort": 6060
  }
}
