{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "CreateEpisodeUrl": "http://localhost:6007/api/CreateEpisode"
  },
  "Host": {
    "LocalHttpPort": 6006
  }
}
