{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ServiceInsightsDbConnectionString": "YOUR_CONNECTION_STRING"
  },
  "Host": {
    "LocalHttpPort": 6002
  }
}

