{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobsServiceBus": "example",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "FOUNDRY_RESOURCE_ID":example",
    "FOUNDRY_API_URL": "example",
    "FOUNDRY_API_TOKEN": "example"
  }
}
