{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
    "GetEpisodeUrl": "http://localhost:6060/api/GetEpisode",
    "GetParticipantUrl": "http://localhost:6061/api/GetParticipant",
    "CreateParticipantScreeningEpisodeUrl":"http://localhost:6010/api/CreateParticipantScreeningEpisode",
    "CreateParticipantScreeningProfileUrl":"http://localhost:6011/api/CreateParticipantScreeningProfile",
    "DemographicsServiceUrl": "http://localhost:6080/api/GetDemographicsData"
  },
  "Host": {
    "LocalHttpPort": 6009
  }
}
