{
  "IsEncrypted": false,
  "Values": {
    "ASPNETCORE_ENVIRONMENT": "Development",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "CreateParticipantScreeningProfileUrl":"http://localhost:6011/api/CreateParticipantScreeningProfile",
    "DemographicsServiceUrl": "http://localhost:6080/api/GetDemographicsData",
    "GetScreeningDataUrl": "http://localhost:6082/api/GetScreeningData"
  },
  "Host": {
    "LocalHttpPort": 6009
  }
}
