{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "ServiceInsightsDbConnectionString": "YOU_CONNECTION_STRING"
    },
    "Host": {
    "LocalHttpPort": 7777
  }
}
