# Environment variables for authenticate-and-send-mesh-file.py

# Mailbox sending the email
MAILBOX_ID_FROM=""
MAILBOX_FROM_PASSWORD=""

# Mailbox receiving the email
MAILBOX_ID_TO="X26OT023"

# Mesh API shared key
SHARED_KEY=""

# The file to send
FILE_PATH=bss_episodes_5255.csv
