# Environment variables for authenticate-and-send-mesh-file.py

# Mailbox sending the email
MAILBOX_ID_FROM=""
MAILBOX_FROM_PASSWORD=""

# Mailbox receiving the email
MAILBOX_ID_TO=""
MAILBOX_TO_PASSWORD=""

# Mesh API shared key
SHARED_KEY=""
CERT_PATH=""
KEY_PATH=""
WORKFLOW_ID=""

# The file to send
FILE_PATH=../../TestData/bss_episodes_10_rows.csv
